h1 {color:red;font-family:Stencil;font-size:120px;text-align:center;}
p  {color:rgb(60,60,60);font-family:Arial Black;font-size:35px;text-align:center;}
li {text-align:left;font-size:30px;font-family:Impact;color:blue;}