
h1 {color:red;font-family:Stencil;font-size:120px;text-align:center;}
h2 {color:white;font-family:Stencil;font-size:40px;text-align:center;}
td {color:orange;font-family:Stencil;font-size:22px;text-align:left;}